In [2]:
import pandas as pd
import numpy as np
from scipy.stats import chi2_contingency

In [4]:
Q4_data = pd.read_csv('Dataset/Costomer+OrderForm.csv')
Q4_data

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [3]:
Q4_data.describe()

       Phillippines   Indonesia       Malta       India
count           300         300         300         300
unique            2           2           2           2
top      Error Free  Error Free  Error Free  Error Free
freq            271         267         269         280

In [4]:
Q4_data.Phillippines.value_counts()

Phillippines
Error Free    271
Defective      29
Name: count, dtype: int64

In [5]:
Q4_data.Indonesia.value_counts()

Indonesia
Error Free    267
Defective      33
Name: count, dtype: int64

In [6]:
Q4_data.Malta.value_counts()

Malta
Error Free    269
Defective      31
Name: count, dtype: int64

In [7]:
Q4_data.India.value_counts()

India
Error Free    280
Defective      20
Name: count, dtype: int64

In [8]:
data1=np.array([[271,267,269,280],[29,33,31,20]])
data1

array([[271, 267, 269, 280],
       [ 29,  33,  31,  20]])

In [9]:
# Perform the chi-square test

chi2, p_value, dof, expected = chi2_contingency(data1)

# Check the p-value against the significance level (0.05)

alpha = 0.05

print("Chi-square value:", chi2)
print("P-value:", p_value)
print("Degrees of freedom:", dof)

Chi-square value: 3.858960685820355
P-value: 0.2771020991233135
Degrees of freedom: 3

In [10]:
print("Expected frequencies:\n", expected)

Expected frequencies:
 [[271.75 271.75 271.75 271.75]
 [ 28.25  28.25  28.25  28.25]]

In [11]:
if p_value <= alpha:
    print("There is a significant association between the center and the defective/non-defective outcomes.")
else:
    print("There is no significant association between the center and the defective/non-defective outcomes.")

There is no significant association between the center and the defective/non-defective outcomes.