In [2]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import norm
from scipy.stats import chi2_contingency

In [3]:
Q3_data=pd.read_csv('Dataset/BuyerRatio.csv')
Q3_data.head()

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [3]:
Q3_data.describe()

             East         West        North       South
count    2.000000     2.000000     2.000000    2.000000
mean   242.500000   832.500000   743.500000  410.000000
std    272.236111   976.514465   866.205807  480.832611
min     50.000000   142.000000   131.000000   70.000000
25%    146.250000   487.250000   437.250000  240.000000
50%    242.500000   832.500000   743.500000  410.000000
75%    338.750000  1177.750000  1049.750000  580.000000
max    435.000000  1523.000000  1356.000000  750.000000

In [5]:
East=Q3_data['East'].mean()
West=Q3_data['West'].mean()
North=Q3_data['North'].mean()
South=Q3_data['South'].mean()

print('East Mean = ',East)
print('West Mean = ',West)
print('North Mean = ',North)
print('South Mean = ',South)

East Mean =  242.5
West Mean =  832.5
North Mean =  743.5
South Mean =  410.0

In [6]:
alpha=0.05
Male = [50,142,131,70]
Female=[435,1523,1356,750]
Sales=[Male,Female]
print(Sales)

[[50, 142, 131, 70], [435, 1523, 1356, 750]]

In [7]:
chi2, p_value, dof, expected = chi2_contingency(Sales)

print("Chi-square test statistic:", chi2)
print("P-value:", p_value)
print("Degrees of freedom:", dof)

Chi-square test statistic: 1.595945538661058
P-value: 0.6603094907091882
Degrees of freedom: 3

In [8]:
print("Expected frequencies:")
print(expected)

Expected frequencies:
[[  42.76531299  146.81287862  131.11756787   72.30424052]
 [ 442.23468701 1518.18712138 1355.88243213  747.69575948]]

In [9]:
if p_value < alpha:
    print("Reject the null hypothesis. Not all proportions are equal.")
else:
    print("Fail to reject the null hypothesis. All proportions are equal.")

Fail to reject the null hypothesis. All proportions are equal.